<launch>
    <node pkg="mission_planner" name="waypoint_mission" type="waypoint_mission" output="screen">
        <param name="data_name" value="real_stope_coverage.txt" type="string"></param>
    </node>

    <node pkg="perfect_drone_sim" type="perfect_drone" name="perfect_drone" output="log">
        <param name="config_name" value="real_stope.yaml" type="string"></param>
    </node>

    <node pkg="super_planner" name="fsm_node" type="fsm_node" output="screen">
        <param name="config_name" value="real_stope.yaml" type="string"></param>
    </node>

    <node pkg="rviz" type="rviz" name="top_down"
          args="-d $(find perfect_drone_sim)/rviz/benchmark.rviz"
          output="log"/>
</launch>
